p{
    padding: 1%;
}

/* GENEALES */
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paddingOff {
    padding: 0px;
}

.paddingBottonOff{
    padding-bottom: 0px;
}

/* LOGO */
#logo-container {
    flex: 0 0 auto;
    margin-left: 10px;
}
#img-logo {
    width: 90px;
    height: 90px;
}

/* PRODUCTOS */
#productos-lista {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    align-items: left;
}

.producto-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 1%;

}

.img-listados {
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin-right: 18px;
    border-radius: 8px;
}
.info-producto {
    font-size: 16px;
    color: #fff; /* Ajusta según tu tema */
}


.main{
    display: flex; 
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.crudFrom-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


